@font-face {
  font-family: "Dianora";
  src: url("/Dianora.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Saprona";
  src: url("/Saprona-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.font-dianora {
  font-family: "Dianora", sans-serif;
}

.font-saprona {
  font-family: "Saprona", sans-serif;
}
