@tailwind base;
@tailwind components;
@tailwind utilities;
@import "locomotive-scroll/dist/locomotive-scroll.css";

#root {
  background-color: #ebebeb;
  color: #1c1c1c;
}

@font-face {
  font-family: "Roxborough Regular";
  src: url("./assets/RoxboroughCF-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roxborough Italic";
  src: url("./assets/RoxboroughCF-RegularItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roobert";
  src: url("./assets/Roobert-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

.font-roxborough-regular {
  font-family: "Roxborough Regular", sans-serif;
}

.font-roxborough-italic {
  font-family: "Roxborough Italic", sans-serif;
}

.font-roobert {
  font-family: "Roobert", sans-serif;
}

/* Hide scrollbar for drag-to-scroll functionality */
.scrollbar-hide {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
